@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Ubuntu', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    --color-primary: #1b304e;
    --color-secondary: #dfdfbb;
    --color-tertiary: #d3924f;
}

/* Custom styles */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', ui-sans-serif, system-ui, sans-serif;
}

.header-logo-container {
    height: 100px;
}

@layer utilities {
  .h-8 {
    height: calc(var(--spacing)*25);
  }
}
